.headertitle { font-weight:700px; padding-left:3px; font-size: 18px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; } .headerlogo{ height:40px; width:40px; } 
.splash-bg { 
    position: relative; 
    background: url('../../assets/img/shackbg1.jpeg') no-repeat transparent; 
    
    background-size: cover; 
    height: 47%; 
    z-index: 1; 
    background-repeat: repeat-x; 
    animation: animatedBackground 40s linear infinite; } @keyframes animatedBackground { from { background-position: 0 0; } to { background-position: 100% 0; } } .splash-info { position: relative; z-index: 2; margin-top: -64px; text-align: center; } .splash-logo { margin: auto; background: url('../../assets/img/shack_circle_icon.png') repeat transparent; background-size: 100%; width: 128px; height: 128px; } .splash-intro { font-size: 18px; font-weight: bold; max-width: 80%; margin: auto; } button.login { margin-top: 25px; background-color: white; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); color: #333; &.activated { background-color: rgb(220, 220, 220); } } .apppathlabel{ font-size:13px; color: rgb(27, 26, 26); font-weight:600; } .apppathtext{ font-size:14px; color: rgb(61, 58, 58); } .apur { display: none; } .apppathicon{ font-size:19px; }