<ion-header> <ion-toolbar color="medium"> <ion-buttons slot="start"> <ion-menu-button></ion-menu-button> </ion-buttons> 
<ion-avatar slot="start" class="headerlogo"> <img src="../../assets/img/shack_circle_icon.png" > </ion-avatar> <ion-title class="headertitle" slot="start"> Shack Events </ion-title> </ion-toolbar> </ion-header>

<ion-content scroll="false"> <div class="splash-bg"></div> <div class="splash-info"> <div class="splash-logo"></div> <div class="splash-intro"> Login to continue </div> </div> <div padding> <ion-list> <ion-item class="apur"> <ion-icon name="link" slot="start" class="apppathicon" ></ion-icon> <ion-label class="apppathlabel">App Path : </ion-label> <ion-input class="apppathtext" type="text" [(ngModel)]="apiurlmode" placeholder="Your Api Url"></ion-input> </ion-item> 
<ion-item *ngIf=" enforcesecuritykey == 3" > 
<ion-input type="text" [(ngModel)]="userLoginData.login" placeholder="Username"></ion-input> </ion-item> 
<!-- <ion-item *ngIf=" enforcesecuritykey == 3"> <ion-input type="password" [(ngModel)]="userLoginData.password" placeholder="Password"></ion-input> </ion-item> -->
<ion-item> 
<ion-input *ngIf=" enforcesecuritykey == 3" type="password" [(ngModel)]="userLoginData.password" placeholder="System Password"></ion-input> 

<ion-icon  *ngIf="enforcesecuritykey == 3"  name="information-circle" class="apppathicon"  color="medium" (click)="whysecurity1()" ></ion-icon>
</ion-item> 
<ion-item> 
<ion-input type="password" [(ngModel)]="securitykeypasscode" placeholder="Personal Password"></ion-input>
<ion-icon  name="information-circle" class="apppathicon"  color="medium" (click)="whypersonalpassword()" ></ion-icon>
</ion-item> 
<div padding *ngIf=" enforcesecuritykey == 3" style="text-align: center;"> 
<ion-button expand="full" color="primary" (click)="login()" >Login</ion-button> 
<a href="https://shack.accellier.net/user/passwordforgotten.php" clear item-right style="margin: 10px 10px; display: block;">Forgot Password</a>

</div> 
<a (click)="CountClick()" style="width: 100%;
display: block;
cursor: help;
height: 80px;"  color="transparent"></a>
<div padding *ngIf=" enforcesecuritykey == 2">   
<ion-button expand="full" color="primary" (click)="securitykeyboot()" >Apply Personal Password</ion-button></div>
<!-- <div padding> <button ion-button full color="success" (click)="login()">Sign up</button> </div> --> </ion-list> 
<ion-card color="warning"  *ngIf=" enforcesecuritykey == 2" ><ion-card-header>
<ion-card-title>FORGOTTEN YOUR PERSONAL PASSWORD?</ion-card-title></ion-card-header>
<!-- <ion-card-content>Security Key is used to encrypt any data stored on Local Storage. App requires this Security Key in order to decrypt your data in local Storage. If this Security Key is lost then any data updated on App in Offline mode will be lost. If Security Key is lost then only way to login again in this App is to logout by clicking following logout button and re-login in order to set a new Security key for data stored on Local Storage. </ion-card-content><ion-item><ion-button fill="outline" (click)="setbackboot()" slot="end">Logout</ion-button></ion-item></ion-card> -->
<ion-card-content>Simply log out, log back in and you will be able to set a new Personal Password. Remember this is private to you and should not be known by anyone.</ion-card-content><ion-item><ion-button fill="outline" (click)="setbackboot()" slot="end">Logout</ion-button></ion-item></ion-card>
</div> </ion-content>




 


