<ion-header>
    <ion-toolbar color="medium">
        <ion-buttons slot="start">
            <ion-back-button list></ion-back-button>
        </ion-buttons>
        <ion-avatar slot="start" class="headerlogo"> <img src="../../assets/img/shack_circle_icon.png"> </ion-avatar>
        <ion-title class="headertitle" slot="start"> Edit Profile </ion-title>
        <ion-icon slot="end" name="aperture" class="prof-icon" color="success" (click)="presentEncryp()"></ion-icon>
        <ion-icon slot="end" name="list" class="prof-icon" color="light" (click)="viewList()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content scroll="false" *ngIf="userProfileData">

    <div class="splash-bg"></div>
    <div class="splash-info">
        <ion-avatar class="splash-logo">
            <ion-img src="/assets/img/shack_circle_icon.png" class="splash-im"></ion-img>
        </ion-avatar>
        <div class="splash-intro"> {{userProfileData.firstname}} {{userProfileData.lastname}} </div>
    </div>
    <ion-card>
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>{{userProfileData.address}}</ion-label>
            <ion-button fill="outline" (click)="logout()" slot="end">Logout</ion-button>
        </ion-item>
        <ion-card-content> Below is the entire profile summary of yours. </ion-card-content>
    </ion-card>



    <ion-card>
        <ion-list>
            <ion-item class="ionheight" color="gray">
                <ion-icon name="card" class="listetopsyncico" color="dark"></ion-icon>
                <ion-label class="seplefttop">Edit Basic Information</ion-label>
                <!-- <ion-icon slot="end" name="save" class="rightlistetopsyncico" color="tertiary" (click)="savenewProfiledata()" ></ion-icon>-->

                <ion-button (click)="savenewProfiledata()" >Save</ion-button>
                <ion-button (click)="cancelEdit()" >Cancel</ion-button>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-card class="profcardrand">
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">First Name</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.firstname" placeholder="First Name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Last Name</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.lastname" placeholder="Last Name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Gender</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-select class="apppathtext" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.gender">
                        <ion-select-option value="">Select gender</ion-select-option>
                        <ion-select-option value="man">Man</ion-select-option>
                        <ion-select-option value="woman">Woman</ion-select-option>
                    </ion-select>
                    <ion-select class="hidefield" value=""> </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label class="prof-header-label">Dob</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-datetime class="apppathtext" #picker (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_dob" display-format="DD/MM/YYYY" picker-format=" DD MMMM YYYY"></ion-datetime> <button ion-button icon-right (click)="picker.open()">
            <ion-icon name="calendar"></ion-icon>
          </button>
                    <ion-datetime class="hidefield"></ion-datetime>
                </ion-item>
            </ion-card>

            <ion-card>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Address</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-textarea class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.address" placeholder="Address"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Been Here For The Last 3 Months?</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-select class="apppathtext" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_here_last_3_month" (ngModelChange)="beenlast3monthopt($event)">
                        <ion-select-option value="0">Select one</ion-select-option>
                        <ion-select-option value="yes">Yes</ion-select-option>
                        <ion-select-option value="no">No</ion-select-option>
                    </ion-select>
                    <ion-select class="hidefield" value=""> </ion-select>
                </ion-item>
                <ion-item [ngClass]="beenlast3month">
                    <ion-label position="floating" class="prof-full">New Address</ion-label>
                    <ion-textarea class="apppathtext-full" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_new_address" value="q"></ion-textarea>
                </ion-item>
                <ion-item [ngClass]="beenlast3month">
                    <ion-label position="floating" class="prof-full">Reasons For Having 2X Addresses In Last 3 Months:</ion-label>
                    <ion-textarea class="apppathtext-full" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_address_change_reason" value="q"></ion-textarea>
                </ion-item>
            </ion-card>

            <ion-card class="profcardrand">
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Phone Number: Mobile</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.user_mobile" placeholder="Phone Number ( Mobile )"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Phone Number: Home</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.office_phone" placeholder="Phone Number ( Home )"></ion-input>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Email</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.email" placeholder="Email"></ion-input>
                </ion-item>
            </ion-card>

            <ion-card class="profcardrand">
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Next of kin</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_nex_of_kin" placeholder="Next of kin"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Relationship to you</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_relationship" placeholder="Relationship to you">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Phone</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_phone_number" placeholder="Phone"></ion-input>
                </ion-item>
            </ion-card>

            <ion-card>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Any Serious Illnesses ?</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-select class="apppathtext" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_serious_illnesses" (ngModelChange)="seriousillnessopt($event)">
                        <ion-select-option value="0">Select one</ion-select-option>
                        <ion-select-option value="yes">Yes</ion-select-option>
                        <ion-select-option value="no">No</ion-select-option>
                    </ion-select>
                    <ion-select class="hidefield" value=""> </ion-select>
                </ion-item>
                <ion-item [ngClass]="seriousillness">
                    <ion-label position="floating" class="prof-full">More details</ion-label>
                    <ion-textarea class="apppathtext-full" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_more_details" value="q"></ion-textarea>
                </ion-item>
            </ion-card>
            <ion-card class="profcardrand">
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">National Insurance Number</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_national_insurance_number" placeholder="National Insurance Number"></ion-input>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item>
                    <ion-label text-wrap text-wrap class="prof-header-label">Have Dbs Check?</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-select class="apppathtext" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_dbs_check" (ngModelChange)="dbscheckopt($event)">
                        <ion-select-option value="0">Select one</ion-select-option>
                        <ion-select-option value="yes">Yes</ion-select-option>
                        <ion-select-option value="no">No</ion-select-option>
                    </ion-select>
                    <ion-select class="hidefield" value=""> </ion-select>
                </ion-item>
                <ion-item [ngClass]="dbscheck">
                    <ion-label text-wrap class="prof-header-label">Dbs Number</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_dbs_mumber" placeholder="Dbs Number"></ion-input>
                </ion-item>
                <ion-item [ngClass]="dbscheck">
                    <ion-label text-wrap class="prof-header-label">Issue Date</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-datetime class="apppathtext" #picker8 (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_issue_date" display-format="DD/MM/YYYY" picker-format=" DD MMMM YYYY"></ion-datetime>
                    <button ion-button icon-right (click)="picker8.open()">
            <ion-icon name="calendar"></ion-icon>
          </button>
                    <ion-datetime class="hidefield"></ion-datetime>
                </ion-item>
            </ion-card>

            <ion-card class="profcardrand">
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Passport / Driving license Number</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_passport_number" placeholder="Passport / Driving license Number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Issue Date</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-datetime class="apppathtext" #picker2 (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_passport_issue_date" display-format="DD/MM/YYYY" picker-format=" DD MMMM YYYY"></ion-datetime> <button ion-button icon-right (click)="picker2.open()">
            <ion-icon name="calendar"></ion-icon>
          </button>
                    <ion-datetime class="hidefield"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Expiry Date</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-datetime class="apppathtext" #picker3 (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_expiry_date" display-format="DD/MM/YYYY" picker-format=" DD MMMM YYYY" max={{expendate}} min={{expstdate}}></ion-datetime> <button ion-button icon-right (click)="picker3.open()">
            <ion-icon name="calendar"></ion-icon>
          </button>
                    <ion-datetime class="hidefield"></ion-datetime>
                </ion-item>
                <!-- <ion-item> <ion-label text-wrap class="prof-header-label">Expiry Date</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-input class="apppathtext" type="text" [(ngModel)]="userProfileData.array_options.options_expiry_date" placeholder="Expiry Date"></ion-input> </ion-item> -->
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Country of issue</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_country_issue" placeholder="Country of issue">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Place of birth</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_place_birth" placeholder="Place of birth"></ion-input>
                </ion-item>
            </ion-card>

            <ion-card>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Visa Applicable</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-select class="apppathtext" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_visa_applicable" (ngModelChange)="visaapplicableopt($event)">
                        <ion-select-option value="0">Select one</ion-select-option>
                        <ion-select-option value="yes">Yes</ion-select-option>
                        <ion-select-option value="no">No</ion-select-option>
                    </ion-select>
                    <ion-select class="hidefield" value=""> </ion-select>
                </ion-item>
                <ion-item [ngClass]="visaapplicable">
                    <ion-label text-wrap class="prof-header-label">Visa expiry date</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_visa_application_proof" placeholder="Visa expiry date">
                    </ion-input>
                </ion-item>
            </ion-card>

            <ion-card class="profcardrand">
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Name on your bank account</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_bank_details" placeholder="Name on your bank account">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Bank Name</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_bank_name" placeholder="Bank Name"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Account Number</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_account_number" placeholder="Account Number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label text-wrap class="prof-header-label">Sort Code</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-input class="apppathtext" type="text" (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_sort_code" placeholder="Sort Code"></ion-input>
                </ion-item>
            </ion-card>

            <ion-card>
                <ion-list>
                    <ion-radio-group (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_starter_data">
                        <ion-list-header>
                            <ion-label text-wrap class="prof-full">Starter Data</ion-label>
                        </ion-list-header>
                        <ion-item>
                            <ion-label text-wrap class="apppathtext-full">Existing Employee</ion-label>
                            <ion-radio slot="start" value="Existing Employee"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label text-wrap class="apppathtext-full">Starter with a P45</ion-label>
                            <ion-radio slot="start" value="Starter with a P45"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label text-wrap class="apppathtext-full">Starter without a P45</ion-label>
                            <ion-radio slot="start" value="Starter without a P45"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
            </ion-card>

            <ion-card class="profcardrand">
                <ion-list>
                    <ion-radio-group (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_starter_declaration">
                        <ion-list-header>
                            <ion-label class="prof-full">Starter Declaration</ion-label>
                        </ion-list-header>
                        <ion-item>
                            <ion-label text-wrap class="apppathtext-full">This is my first job since the start of the tax year
                            </ion-label>
                            <ion-radio slot="start" value="1"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label text-wrap class="apppathtext-full">I have had another job since the start of the tax year but this is now my only job</ion-label>
                            <ion-radio slot="start" value="2"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label text-wrap class="apppathtext-full">I currently have another job or pension</ion-label>
                            <ion-radio slot="start" value="3"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
            </ion-card>
            <ion-card>
                <ion-list>
                    <ion-radio-group (ngModelChange)="isChange()" [(ngModel)]="userProfileData.array_options.options_student_loan_repayments">
                        <ion-list-header>
                            <ion-label text-wrap class="prof-full">I make student loan repayments through payroll</ion-label>
                        </ion-list-header>
                        <ion-item>
                            <ion-label text-wrap class="apppathtext-full">Yes</ion-label>
                            <ion-radio slot="start" value="yes"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label text-wrap class="apppathtext-full">No</ion-label>
                            <ion-radio slot="start" value="no"></ion-radio>
                        </ion-item>
                    </ion-radio-group>
                </ion-list>
            </ion-card>
        </ion-list>
    </ion-card>
    <ion-button (click)="savenewProfiledata()" slot="end">Save</ion-button>

</ion-content>