<ion-card class="person-modal">
  <ion-card-content >
    <h3 >URL</h3>
    <div class="user-info">
      <p class="item-url">
        <ion-input type="text" [(ngModel)]="url" placeholder="Enter URL"></ion-input>
      </p>
    </div>
    <ion-button  size="small" (click)="save()"  color="primary">Save</ion-button>
  </ion-card-content>
</ion-card>