<ion-header> <ion-toolbar color="medium"> <ion-buttons slot="start"> <ion-back-button list></ion-back-button> </ion-buttons> 
<ion-title class="headertitle"> Feed Offline Action </ion-title> <ion-icon slot="end" name="contact" class="prof-icon" color="light" (click)="viewProflle()" ></ion-icon> </ion-toolbar> </ion-header>

<ion-content>
<ion-card color="secondary"> <ion-item color="secondary"> <ion-icon name="bug" slot="start"></ion-icon> <ion-label><b>Alert Message</b></ion-label> <ion-button fill="outline" (click)="fireactopt()" slot="end">Go for it</ion-button> </ion-item> <ion-card-content> You did some actions in offline mode , now it's time to feed that action in online mode globally . </ion-card-content> </ion-card>
</ion-content>
