<ion-header> <ion-toolbar color="medium"> <ion-buttons slot="start"> </ion-buttons> <ion-avatar slot="start" class="headerlogo"> <img src="../../assets/img/shack_circle_icon.png" > </ion-avatar> 
<ion-title class="headertitle" slot="start"> List of events </ion-title><ion-icon slot="end" name="aperture" class="prof-icon"  color="success" (click)="presentEncryp()" ></ion-icon> <ion-icon slot="end" name="sync" class="listetopsyncico" color="light" (click)="syncData()" ></ion-icon> <ion-icon slot="end" name="contact" class="prof-icon" color="light" (click)="viewProflle()" ></ion-icon> </ion-toolbar> </ion-header>


<ion-content [ngClass]="restrictViewClass" >

    <ion-list class="evliste" *ngIf=" restrictView == 'NR'" > <ion-list class="evliste" *ngFor="let evData of eventData" > <ion-item color="dark" id="mon{{evData.monthName}}"> <ion-label class="list-header-label"> {{ evData.monthName }}</ion-label> </ion-item> <ion-list class="evliste evlistemargin" 
    *ngFor="let evdetData of evData.monthEventDet">
     <!-- <ion-item class="ionheight" (click)="viewEntry(evData.id)" color={{item.selcol}}> --> <ion-item class="ionheight" (click)="viewEntry(evdetData.event_id , evdetData.availability_id)" color={{evdetData.selcol}} > <!-- <ion-icon name="{{item.evstat}}" class="venuelocicon {{item.ic_color_class}}"></ion-icon> --> 
      
      <ion-icon name="{{evdetData.evstat}}" class="venuelocicon {{evdetData.ic_color_class}} "></ion-icon> <ion-label class="list-header-label labelmarginleft brighterfont-size-md"> {{evdetData.event_title}}</ion-label> 
      <!-- <ion-icon name="pin" class="venuelocicon {{item.ic_color_class}}"></ion-icon> --> <ion-icon name="pin" class="venuelocicon {{evdetData.ic_color_class}} "></ion-icon> <ion-label class="list-header-label brighterfont-size-md"> {{evdetData.venue}}</ion-label> <div class="item-note"slot="end"> <ion-label class="list-header-label brighterfont-size-sm" >{{evdetData.event_date | date:'dd-MMM yy'}}</ion-label> </div> </ion-item> 
    </ion-list> </ion-list> </ion-list>

<ion-card *ngIf=" restrictView == 'R'" color="light">
    <ion-item color="secondary"> <ion-icon name="bug" slot="start" class="cantseelistalertmsgicon" ></ion-icon><ion-label><b>Alert Message</b></ion-label> <ion-button fill="outline" (click)="viewProflle()" slot="end">Go to profile</ion-button></ion-item><ion-card-content class="cantseelistalertmsg">
    Your profile is not updated, so you are not eligible to see the list of events. Go to profile section and update your profile first
  </ion-card-content>
 </ion-card>


</ion-content>
