<ion-header>
    <ion-toolbar color="medium">
        <ion-buttons slot="start">
            <ion-back-button list></ion-back-button>
        </ion-buttons>
        <!-- <ion-avatar slot="start" class="headerlogo"> <img src="../../assets/img/shack_circle_icon.png" > </ion-avatar> -->
        <ion-title slot="start" class="headertitle"> Event Detail </ion-title>
        <ion-icon slot="end" name="aperture" class="prof-icon" color="success" (click)="presentEncryp()"></ion-icon>
        <ion-icon slot="end" name="contact" class="prof-icon" color="light" (click)="viewProflle()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content scroll="false" *ngIf="eventDatainfo">

    <ion-grid>
        <ion-row>
            <ion-col class="backomclg1 evgridfontlight" size="5.5"> Available ? </ion-col>
            <ion-col size="1"> </ion-col>
            <ion-col class="backomclg2 evgridfontlight" size="5.5"> Confirming ? </ion-col>
        </ion-row>
        <ion-row>
            <ion-col [ngClass]="afterreconfirmAvail" size="5.5">
                <ion-row>
                    <ion-col class="talr">
                        <ion-icon name="thumbs-up"></ion-icon>
                    </ion-col>
                    <ion-col class="tall"> Yes </ion-col>
                </ion-row>
            </ion-col>
            <ion-col [ngClass]="confirmedavalyescss" size="2.75">
                <ion-row (click)='presentAlertCheckbox(1)'>
                    <ion-col class="talr">
                        <ion-icon name="thumbs-up"></ion-icon>
                    </ion-col>
                    <ion-col class="tall"> Yes </ion-col>
                </ion-row>
            </ion-col>
            <ion-col [ngClass]="confirmedavalnocss" size="2.75">
                <ion-row (click)='presentAlertCheckbox(0)'>
                    <ion-col class="talr">
                        <ion-icon name="thumbs-down"></ion-icon>
                    </ion-col>
                    <ion-col class="tall"> No </ion-col>
                </ion-row>
            </ion-col>

            <ion-col size="1"> </ion-col>
            <ion-col [ngClass]="aftercontactedreconfirm" size="5.5">
                <ion-row>
                    <ion-col class="talc"> {{aftercontactedreconfirmmsg}} </ion-col>
                </ion-row>
            </ion-col>
            <ion-col [ngClass]="reconfirmedavalyescss" size="2.75">
                <ion-row (click)='reconfirmpresentAlertCheckbox(1)'>
                    <ion-col class="talr">
                        <ion-icon name="thumbs-up"></ion-icon>
                    </ion-col>
                    <ion-col class="tall"> Yes </ion-col>
                </ion-row>
            </ion-col>
            <ion-col [ngClass]="reconfirmedavalnocss" size="2.75">
                <ion-row (click)='reconfirmpresentAlertCheckbox(0)'>
                    <ion-col class="talr">
                        <ion-icon name="thumbs-down"></ion-icon>
                    </ion-col>
                    <ion-col class="tall"> No </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-card>
        <ion-item>
            <ion-icon name="pin" slot="start" (click)="openAddr()"></ion-icon>
            <ion-label> {{eventDatainfo.venue}}</ion-label>
            <!-- <ion-toggle color="success" [ngClass]="restrictViewReConfirmOpt" [(ngModel)]="reconfirmed" (ngModelChange)="reconfirmpresentAlertCheckbox($event)" ></ion-toggle> <ion-toggle color="primary" [disabled]="restrictAvailOpt" [(ngModel)]="confirmed" (ngModelChange)="presentAlertCheckbox($event)" ></ion-toggle> --></ion-item>
        <ion-card-content> Below is the entire description of event and shift. </ion-card-content>
    </ion-card>
    <ion-card>

        <ion-list>
            <ion-list-header>
                <ion-label>Basic Description</ion-label>
            </ion-list-header>
            <ion-item>
                <ion-label class="event-header-label">Event</ion-label>
                <ion-label class="event-label">{{eventDatainfo.event_title}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="event-header-label">Event Date</ion-label>
                <ion-label class="event-label">{{eventDatainfo.event_date | date:'dd-MMM yy'}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="event-header-label">Meeting Point</ion-label>
                <ion-label class="event-label">{{eventDatainfo.meetingpoint}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="event-header-label">Kick Off</ion-label>
                <ion-label class="event-label">{{eventDatainfo.kickoff_time}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="event-header-label">Timing</ion-label>
                <ion-label class="event-label" style="white-space: break-spaces;">{{eventDatainfo.timingtypelabel}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="event-header-label">Employee Role</ion-label>
                <ion-label class="event-label">{{eventDatainfo.staffrole}}</ion-label>
            </ion-item>
            <ion-item *ngIf="eventDatainfo.other_notes != ''">
                <ion-label class="event-header-label">Other</ion-label>
                <ion-label class="event-label">{{eventDatainfo.other_notes}}</ion-label>
            </ion-item>
        </ion-list>

    </ion-card>


    <ion-card color="warning">
        <ion-card-header>
            <ion-card-title>Instruction</ion-card-title>
            <ion-card-subtitle>Below are instructions</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content> {{eventDatainfo.evInst}} </ion-card-content>
    </ion-card>


</ion-content>