<ion-header> <ion-toolbar color="medium"> <ion-buttons slot="start"> </ion-buttons> <ion-avatar slot="start" class="headerlogo"> <img src="../../assets/img/shack_circle_icon.png" > </ion-avatar> 
  <ion-title class="headertitle"> {{encryp_lbl}} </ion-title> <ion-icon slot="end" name="close" class="prof-icon"  color="light" (click)="closeModal()" ></ion-icon> </ion-toolbar> </ion-header>


<ion-content scroll="false"  *ngIf="encryp_item">

<ion-card ><ion-card> 
<ion-card-content >In order to provide you seamless experience, this App works in offline mode. Any Information stored on your local device for offline mode is encrypted using Security Key entered by you on login screen.</ion-card-content>
<ion-card color="dark" ><ion-card-content>{{encryp_item | slice:0:700}}</ion-card-content>
</ion-card></ion-card></ion-card></ion-content>
