<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="profile" [disabled]="authService.blockNavigation">
            <ion-label>Profile</ion-label>
            <ion-icon name="contact"></ion-icon>
            <!--<ion-badge>6</ion-badge>-->
        </ion-tab-button>
        <ion-tab-button tab="document" selected="true" [disabled]="authService.blockNavigation">
            <ion-label selected>Document</ion-label>
            <ion-icon name="document"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="settings" selected="true" [disabled]="authService.blockNavigation">
            <ion-label selected>Edit Profile</ion-label>
            <ion-icon name="settings"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>