<ion-header>
    <ion-toolbar color="medium">
        <ion-buttons slot="start">
            <ion-back-button list></ion-back-button>
        </ion-buttons>
        <ion-avatar slot="start" class="headerlogo"> <img src="../../assets/img/shack_circle_icon.png"> </ion-avatar>
        <ion-title class="headertitle" slot="start"> Documents </ion-title>
        <ion-icon slot="end" name="aperture" class="prof-icon" color="success" (click)="presentEncryp()"></ion-icon>
        <ion-icon slot="end" name="list" class="prof-icon" color="light" (click)="viewList()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content scroll="false" *ngIf="userProfileData">

    <div class="splash-bg"></div>
    <div class="splash-info">
        <ion-avatar class="splash-logo">
            <ion-img src="/assets/img/shack_circle_icon.png" class="splash-im"></ion-img>
        </ion-avatar>
        <div class="splash-intro"> {{userProfileData.firstname}} {{userProfileData.lastname}} </div>
    </div>
    <ion-card>
        <ion-item>
            <ion-icon name="pin" slot="start"></ion-icon>
            <ion-label>{{userProfileData.address}}</ion-label>
            <ion-button fill="outline" (click)="logout()" slot="end">Logout</ion-button>
        </ion-item>
        <ion-card-content> Below is the document details of yours. </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-list>
            <ion-item class="ionheight" color="gray">
                <ion-icon name="card" class="listetopsyncico" color="dark"></ion-icon>
                <ion-label class="seplefttop">Document Information</ion-label>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-card class="profcardrand">
                <ion-item>
                    <ion-icon (click)="doctooltip(showidentity_ic_stat_color)" name="{{showidentity_ic_stat}}" color="{{showidentity_ic_stat_color}}" class="docstaticon"></ion-icon>
                    <ion-label text-wrap class="prof-header-label">&nbsp; Proof of Identity</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-button expand="full" shape="block" color="medium" (click)="fileChoose_xxx(1)">New Doc
                    </ion-button>
                    <ion-icon [ngClass]="showidentity_ic" slot="end" (click)="fileview_xxx(1)" name="eye"></ion-icon>
                </ion-item>
            </ion-card>
            <ion-card>
                <ion-item>
                    <ion-icon (click)="doctooltip(showaddress_ic_stat_color)" name="{{showaddress_ic_stat}}" color="{{showaddress_ic_stat_color}}" class="docstaticon"></ion-icon>
                    <ion-label text-wrap class="prof-header-label">&nbsp; Proof of Address</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-button expand="full" shape="block" color="medium" (click)="fileChoose_xxx(2)">New Doc
                    </ion-button>
                    <ion-icon [ngClass]="showaddress_ic" slot="end" (click)="fileview_xxx(2)" name="eye"></ion-icon>
                </ion-item>
            </ion-card>
            <ion-card class="profcardrand">
                <ion-item>
                    <ion-icon (click)="doctooltip(showphoto_ic_stat_color)" name="{{showphoto_ic_stat}}" color="{{showphoto_ic_stat_color}}" class="docstaticon"></ion-icon>
                    <ion-label text-wrap class="prof-header-label">&nbsp; ID Photo</ion-label>
                    <ion-label class="prof-mid-label">:</ion-label>
                    <ion-button expand="full" shape="block" color="medium" (click)="fileChoose_xxx(3)">New Doc
                    </ion-button>
                    <ion-icon [ngClass]="showphoto_ic" slot="end" (click)="fileview_xxx(3)" name="eye"></ion-icon>
                </ion-item>
            </ion-card>
        </ion-list>
    </ion-card>
</ion-content>