<ion-header> <ion-toolbar color="medium"> <ion-buttons slot="start"> <ion-back-button list></ion-back-button> </ion-buttons> 
<ion-avatar slot="start" class="headerlogo"> <img src="../../assets/img/shack_circle_icon.png" > </ion-avatar> <ion-title class="headertitle" slot="start"> Profile </ion-title> <ion-icon slot="end" name="aperture" class="prof-icon"  color="success" (click)="presentEncryp()" ></ion-icon><ion-icon slot="end" name="list" class="prof-icon" color="light" (click)="viewList()" ></ion-icon> </ion-toolbar> </ion-header>


<ion-content scroll="false"  *ngIf="userProfileData">

    <div class="splash-bg"></div> <div class="splash-info"> <ion-avatar class="splash-logo"> <ion-img src="/assets/img/shack_circle_icon.png" class="splash-im"></ion-img> </ion-avatar> <div class="splash-intro"> {{userProfileData.firstname}} {{userProfileData.lastname}} </div> </div>

    <ion-card> <ion-item> <ion-icon name="pin" slot="start"></ion-icon> <ion-label>{{userProfileData.address}}</ion-label> <ion-button fill="outline" (click)="logout()" slot="end">Logout</ion-button> </ion-item> <ion-card-content> Below is the entire profile summary of yours. </ion-card-content> </ion-card>
    
   <ion-card> <ion-list> <ion-item class="ionheight" color="gray"> <ion-icon name="card" class="listetopsyncico" color="dark" ></ion-icon> <ion-label class="seplefttop">Basic Information </ion-label>
    <!-- <ion-button fill="outline" (click)="logout()" slot="end" >Update</ion-button> -->
      <ion-button  (click)="editProfileact()" slot="end">Edit</ion-button>
<!--      <ion-icon slot="end" name="create" class="rightlistetopsyncico" color="tertiary" (click)="editProfileact()" ></ion-icon> -->

   </ion-item> </ion-list>
    
    <ion-list>
       <ion-card class="profcardrand"> <ion-item> <ion-label text-wrap class="prof-header-label">Name</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.firstname}} {{userProfileData.lastname}}</ion-label> </ion-item> <ion-item> <ion-label text-wrap class="prof-header-label">Gender</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.gender}}</ion-label> </ion-item> <ion-item> <ion-label text-wrap class="prof-header-label">Dob</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_dob | date:'dd-MMM yy'}}</ion-label> </ion-item> </ion-card>  
       
       <ion-card> <ion-item> <ion-label position="stacked" class="prof-header-label-of">Address</ion-label> <ion-textarea class="apppathtext" readonly value={{userProfileData.address}}> </ion-textarea> </ion-item> <ion-item> <ion-label position="stacked" class="prof-header-label-of">Been Here For The Last 3 Months?</ion-label> <ion-textarea class="apppathtext" readonly value={{userProfileData.array_options.options_here_last_3_month}}> </ion-textarea> </ion-item> <ion-item [ngClass]="beenlast3month"> <ion-label position="stacked" class="prof-header-label-of">New Address</ion-label> <ion-textarea class="apppathtext" readonly value={{userProfileData.array_options.options_new_address}}> </ion-textarea> </ion-item> <ion-item [ngClass]="beenlast3month"> <ion-label position="stacked" class="prof-header-label-of">Reasons For Having 2X Addresses In Last 3 Months:</ion-label> <ion-textarea class="apppathtext" readonly value={{userProfileData.array_options.options_address_change_reason}}> </ion-textarea> </ion-item> </ion-card> 
       
       <ion-card class="profcardrand"> <ion-item> <ion-label text-wrap class="prof-header-label">Phone Number: Mobile</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.user_mobile}}</ion-label> </ion-item> <ion-item> <ion-label text-wrap class="prof-header-label">Phone Number: Home</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.office_phone}}</ion-label> </ion-item> </ion-card> 
       
       <ion-card> <ion-item> <ion-label text-wrap class="prof-header-label">Email</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.email}}</ion-label> </ion-item> </ion-card>  
       
       <ion-card class="profcardrand"> <ion-item> <ion-label text-wrap class="prof-header-label">Next of kin</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_nex_of_kin}}</ion-label> </ion-item> <ion-item> <ion-label text-wrap class="prof-header-label">Relationship to you</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_relationship}}</ion-label> </ion-item> <ion-item> <ion-label text-wrap class="prof-header-label">Phone</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_phone_number}}</ion-label> </ion-item> </ion-card> 
       
       <ion-card> <ion-item> <ion-label text-wrap class="prof-header-label">Any Serious Illnesses ?</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label class="apppathtext">{{userProfileData.array_options.options_serious_illnesses}}</ion-label> </ion-item> <ion-item [ngClass]="seriousillness"> <ion-label position="stacked" class="prof-header-label-of">More details</ion-label> <ion-textarea class="apppathtext" readonly value={{userProfileData.array_options.options_more_details}}> </ion-textarea> </ion-item> </ion-card>
       
       <ion-card class="profcardrand"> <ion-item> <ion-label text-wrap class="prof-header-label">National Insurance Number</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_national_insurance_number}}</ion-label> </ion-item> </ion-card> 
       <ion-card> <ion-item> <ion-label text-wrap class="prof-header-label">Do You Have A Dbs Check?</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_dbs_check}}</ion-label> </ion-item> <ion-item [ngClass]="dbscheck"> <ion-label text-wrap class="prof-header-label">Dbs Number</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_dbs_mumber}}</ion-label> </ion-item> <ion-item [ngClass]="dbscheck"> <ion-label text-wrap class="prof-header-label">Issue Date</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_issue_date}}</ion-label> </ion-item> </ion-card> 
       
       <ion-card class="profcardrand"> <ion-item> <ion-label text-wrap class="prof-header-label">Passport / Driving license Number</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_passport_number}}</ion-label> </ion-item> <ion-item> <ion-label text-wrap class="prof-header-label">Issue Date</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_passport_issue_date | date:'dd-MMM yy'}}</ion-label> </ion-item> <ion-item> <ion-label text-wrap class="prof-header-label">Expiry Date</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_expiry_date | date:'dd-MMM yy'}}</ion-label> </ion-item> <ion-item> <ion-label text-wrap class="prof-header-label">Country of issue</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_country_issue}}</ion-label> </ion-item><ion-item> <ion-label text-wrap class="prof-header-label">Place of birth</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_place_birth}}</ion-label> </ion-item> </ion-card> 
       
       <ion-card> <ion-item> <ion-label text-wrap class="prof-header-label">Visa Applicable</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_visa_applicable}}</ion-label> </ion-item> <!-- <ion-item> <ion-label class="prof-header-label">Visa Applicable</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-input class="apppathtext" type="text" [(ngModel)]="userProfileData.array_options.options_visa_applicable" placeholder="Visa Applicable"></ion-input> </ion-item> --> <ion-item [ngClass]="visaapplicable"> <ion-label text-wrap class="prof-header-label">Visa expiry date</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_visa_application_proof}}</ion-label> </ion-item> </ion-card>
       
       <ion-card class="profcardrand"> <ion-item> <ion-label text-wrap class="prof-header-label">Name on your bank account</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_bank_details}}</ion-label> </ion-item> <ion-item> <ion-label text-wrap class="prof-header-label">Bank Name</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_bank_name}}</ion-label> </ion-item> <ion-item> <ion-label text-wrap class="prof-header-label">Account Number</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_account_number}}</ion-label> </ion-item> <ion-item> <ion-label text-wrap class="prof-header-label">Sort Code</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_sort_code}}</ion-label> </ion-item> </ion-card> 
       
       <ion-card> <ion-item> <ion-label text-wrap class="prof-header-label">Starter Data</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_starter_data}}</ion-label> </ion-item> </ion-card> 
       
       <ion-card class="profcardrand"> <ion-item> <ion-label text-wrap class="prof-header-label">Starter Declaration</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_starter_declaration_val}}</ion-label> </ion-item> </ion-card> <ion-card> <ion-item> <ion-label text-wrap class="prof-header-label">I make student loan repayments through payroll</ion-label> <ion-label class="prof-mid-label">:</ion-label> <ion-label text-wrap class="apppathtext">{{userProfileData.array_options.options_student_loan_repayments}}</ion-label> </ion-item> </ion-card> </ion-list> </ion-card>
       <ion-button  (click)="editProfileact()" slot="end">Edit</ion-button>
</ion-content>