<ion-header> <ion-toolbar color="primary"> <ion-buttons slot="start"> <ion-menu-button></ion-menu-button> </ion-buttons> 
<ion-title> Home </ion-title> <ion-buttons slot="end"> <ion-item [routerDirection]="'root'" [routerLink]="'/profile'" color="primary" > <ion-icon slot="end" name="contact" color="light" ></ion-icon> </ion-item> </ion-buttons> </ion-toolbar> </ion-header>

<ion-content>
    <ion-card class="welcome-card"> <ion-img src="/assets/shapes.svg"></ion-img> <ion-card-header> <ion-card-subtitle>Get Started</ion-card-subtitle> <ion-card-title>Welcome to Shack</ion-card-title> </ion-card-header> <ion-card-content> <p>Shack.</p> </ion-card-content> </ion-card> <ion-list lines="none"> <ion-list-header> <ion-label>Resources</ion-label> </ion-list-header> <ion-item href="#"> <ion-icon slot="start" color="medium" name="book"></ion-icon> 
      
    <ion-label>Shack Blogs</ion-label> </ion-item> <ion-item href="#"> <ion-icon slot="start" color="medium" name="grid"></ion-icon> <ion-label>Shack in news</ion-label> </ion-item> <ion-item href="#"> <ion-icon slot="start" color="medium" name="color-fill"></ion-icon> <ion-label>Shack web portal</ion-label> </ion-item> </ion-list>
</ion-content>
